<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Notification Manager</h1>

      <%= simple_form_for manager_server_notifications_path(params[:server_id]),
                          method: :PUT do  |f|%>
        <% @notifications.each do |notification| %>
            <div class="card">
              <h4><%= notification.name %></h4>
              <%= fields_for "notifications[]", notification do |p| %>

                <%= p.label 'activated' %>
                <%= p.radio_button :status, :activated %>
                <br>
                <%= p.label 'deactivated' %>
                <%= p.radio_button :status, :deactivated %>
              <% end %>
            </div>
        <% end %>
        <%= f.submit 'Update Notifications',
                      class: 'btn btn-default pull-right' %>
      <% end %>
    </div>
  </div>
</div>
