<div class="col-sm-6 col-md-4">
  <div class="card">
    <span class="label label-success pull-right">Activo</span>
    <h4><%= server.name %></h3>
    <div><b>LAST CONNECTION :</b> <%= server.last_connection %></div>
    <div><b>CPU USAGE :</b> <%= server.cpu_usage %></div>
    <div>
      <b>DISK USAGE :</b> <%= server.disk_usage %>
      <%= link_to '(details)', manager_server_disk_reports_path(server) %>
    </div>
    <div>
      <b>PROCCESS RUNNING:</b>
      <%= server.process_running %>
      <%= link_to '(details)', manager_server_process_reports_path(server) %>
    </div>
  </div>
</div>
